# Скомпилированные файлы C++
*.exe
*.out
*.o
generator

# Скомпилированные файлы Java
*.class

# Кэш Python
__pycache__/
*.pyc

# Настройки локальной среды VS Code (если не хочешь делиться настройками редактора)
.vscode/

# Системные файлы ОС (Windows/macOS)
Thumbs.db
.DS_Store