# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Secrets / keys (важно для криптографии)
*.pem
*.key
*.bin

# Temporary files
*.tmp